.page-control {
  position: fixed;
  z-index: 200;
  width: 1px;
  height: 1px;
}
.next {
  position: fixed;
  top: 25%;
  right: 0;
  width: 240px;
  height: 50%;
}
.next-text {
  position: absolute;
  top: calc(50% - 14px);
  right: calc(50% + 5px);
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 22px;
  letter-spacing: 2px;
  white-space: nowrap;
  text-transform: uppercase;
  transform: translate3d(30px, 0, 0);
  opacity: 0;
  transition: opacity 0.5s ease 0.125s,
    transform 0.5s cubic-bezier(0, 0, 0, 1) 0.125s;
}
.next-arrow {
  position: absolute;
  top: calc(50% - 18.5px);
  left: calc(50% - 18px);
  display: block;
  width: 36px;
  height: 36px;
  transition: transform 0.2s ease-out 0.2s;
}
.next-arrow::before,
.next-arrow::after {
  position: absolute;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: #0ff;
  box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff,
    0 0 40px rgba(0, 15, 15, 0), 0 0 70px rgba(0, 255, 255, 0),
    0 0 80px rgba(0, 255, 255, 0), 0 0 100px rgba(0, 255, 255, 0);
  transform-origin: 50% 100% 0;
  transition: transform 0.16s ease-out;
  content: " ";
}
.next-arrow::before {
  top: -50%;
  transform: rotate(-45deg);
}
.next-arrow::after {
  top: calc(-50% + -1px);
  transform: rotate(-135deg);
}

.next:hover .next-text {
  transform: translate3d(-30px, 0, 0);
  opacity: 1;
  transition: opacity 0.5s ease 0.125s,
    transform 0.5s cubic-bezier(0, 0, 0, 1) 0.125s;
}
.next:hover .next-arrow::before {
  box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff,
    0 0 40px rgba(0, 15, 15, 0), 0 0 70px rgba(0, 255, 255, 0),
    0 0 80px rgba(0, 255, 255, 0), 0 0 100px rgba(0, 255, 255, 0);
  transform: rotate(-30deg);
}
.next:hover .next-arrow::after {
  box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff,
    0 0 40px rgba(0, 15, 15, 0), 0 0 70px rgba(0, 255, 255, 0),
    0 0 80px rgba(0, 255, 255, 0), 0 0 100px rgba(0, 255, 255, 0);
  transform: rotate(-150deg);
}
