.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: $xl;
    height: 100%;
    background: #222;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 0 20px;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.2px;
  }

  &__subtitle {
    margin: 0 0 30px;
    font-size: 30px;
  }

  &__title-text {
    position: relative;
    width: 100%;
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    font-size: 60px;
    text-transform: uppercase;
  }

  .typed-cursor {
    color: $red;
  }

  &__name {
    color: #0ff;
    font-size: 36px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  }
  &__name:hover {
    color: #0ff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff,
      0 0 40px rgba(0, 15, 15, 0), 0 0 70px rgba(0, 255, 255, 0),
      0 0 80px rgba(0, 255, 255, 0), 0 0 100px rgba(0, 255, 255, 0);
    transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  }
  &__text {
    margin: 20px 0 0;
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
    line-height: 30px;
  }
  &__text:nth-child(2) {
    margin: 10px 0 0;
  }
  &__text:nth-child(3) {
    margin: 50px 0 0;
  }
}

//?ФОТО
.foto {
  max-width: 600px;
  &__box {
    width: 80%;
  }
  &__box img {
    //clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 72% 100%, 50% 75%, 0% 75%);
  }
}
