//?ХЭДЕР И ССЫЛКА НА ПОЧТУ
.header {
  position: fixed;
  z-index: 200;
  &__body {
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    height: 100%;
    height: 100vh;
    background-color: transparent;
    border-radius: 25px;
    box-shadow: 7px 7px 10px #070707, -7px -7px 10px #1d1d1d;
    transition: 0.5s ease-out;
    &.active {
      left: -110%;
      transition: 0.5s ease-out;
    }
  }
  &__body::before {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    background: #111;
    content: "";
  }
  &__mail {
    position: absolute;
    bottom: 20px;
  }
  &__mail-item {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
    transition: all 0.5s ease;
  }
  &__mail-item:hover {
    color: $red;
    text-shadow: 3px 3px 5px #000;
    transition: all 0.5s ease;
  }
}

//?ИКОНКИ СОЦ.СЕТЕЙ
.social {
  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
  }

  &__item {
    position: relative;
    margin: 10px;
  }

  &__link {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    color: white;
    font-size: 1.5em;
    line-height: 60px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 7px 7px 10px #070707, -1px -1px 1px #1d1d1d;
    backdrop-filter: blur(2px);
    transition: 0.5s;
  }
  &__link:hover {
    transform: translateX(20px);
  }
  &__link::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
    content: "";
  }
  &__link:hover::after {
    transform: skewX(45deg) translateX(-150px);
  }
}
.icon-tm:hover {
  color: #08c;
  border: 1px solid rgba(0, 136, 204, 1);
  border-right: 1px solid rgba(0, 136, 204, 0.2);
  border-bottom: 1px solid rgba(0, 136, 204, 0.2);
}
.icon-wh:hover {
  color: #43d854;
  border: 1px solid rgba(67, 216, 84, 1);
  border-right: 1px solid rgba(67, 216, 84, 0.2);
  border-bottom: 1px solid rgba(67, 216, 84, 0.2);
}
.icon-vk:hover {
  color: #597da3;
  border: 1px solid rgba(89, 125, 163, 1);
  border-right: 1px solid rgba(89, 125, 163, 0.2);
  border-bottom: 1px solid rgba(89, 125, 163, 0.2);
}

//?ФОТО ХЭДЕРА
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-top: 150px;
  &__decor {
    position: absolute;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 7px 7px 10px #070707, -1px -1px 1px #1d1d1d;
    backdrop-filter: blur(2px);
    transition: 0.5s;
  }
  &__img {
    z-index: 1;
  }
}

//?КНОПКА БУРГЕР
.header__burger {
  position: fixed;
  top: 25px;
  left: 15vw;
  z-index: 3;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 7px 7px 10px #070707, -1px -1px 1px #1d1d1d;
  transform: translateX(-75px);
  cursor: pointer;
  backdrop-filter: blur(2px);
  transition: 0.5s ease-in-out;
  &:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .burger-item {
    position: absolute;
    width: 0%;
    span {
      position: relative;
      display: block;
      width: 40px;
      height: 4px;
      margin: 9px 4px;
      line-height: 50px;
      background: $red;
      border-radius: 2px;
      transition: 0.5s ease-in-out;
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        width: 30px;
        transform: translateX(10px);
        transition-delay: 0.125s;
      }
      &:nth-child(3) {
        width: 20px;
        transform: translateX(20px);
        transition-delay: 0.25s;
      }
    }
  }
}
.header__burger.open {
  left: 25px;
  transform: translateX(0);
  .burger-item {
    width: 100%;
    height: 100%;
    span {
      background: #0ff;
      box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff,
        0 0 40px rgba(0, 15, 15, 0), 0 0 70px rgba(0, 255, 255, 0),
        0 0 80px rgba(0, 255, 255, 0), 0 0 100px rgba(0, 255, 255, 0);
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transform: translateX(0);
        transition-delay: 0.125s;
      }
      &:nth-child(3) {
        transform: translateX(0);
        transition-delay: 0.25s;
      }
    }
  }
}

//?КНОПКИ НАВИГАЦИИ
.nav {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    padding: 30px 10px;
  }
  &__link p {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    line-height: 60px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  }
  &__link p:hover {
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff,
      0 0 40px rgba(0, 15, 15, 0), 0 0 70px rgba(0, 255, 255, 0),
      0 0 80px rgba(0, 255, 255, 0), 0 0 100px rgba(0, 255, 255, 0);
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  }
  &__link {
    position: relative;
    display: block;
    width: 220px;
    height: 60px;
    overflow: hidden;
    background: #111;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #070707, -1px -1px 0 #1d1d1d;
  }
  &__link::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #222;
    content: "";
  }
  &__link::after {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    transition: 0.5s;
    transition-delay: 0.5s;
    content: "";
  }
  &__link:hover::after {
    left: 100%;
  }
  &__link .decor {
    position: absolute;
    display: block;
    transition: 0.5s ease;
  }
  &__link .decor:nth-child(4) {
    right: 0;
    bottom: 0;
    width: 1px;
    height: 0;
    background: #fff;
  }
  &__link .decor:nth-child(1) {
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff;
  }
  &__link .decor:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: #fff;
  }
  &__link .decor:nth-child(2) {
    top: 0;
    left: 0;
    width: 1px;
    height: 0;
    background: #fff;
  }
  &__link:hover .decor:nth-child(2) {
    height: 100%;
    transform: translateY(100%);
  }
  &__link:hover .decor:nth-child(1) {
    width: 100%;
    transform: translateX(100%);
  }
  &__link:hover .decor:nth-child(3) {
    width: 100%;
    transform: translateX(-100%);
  }
  &__link:hover .decor:nth-child(4) {
    height: 100%;
    transform: translateY(-100%);
  }
}

@media (max-width: $lg) {
  .header {
    width: 100%;
    &__body {
      left: -105%;
      width: 100%;
      border: none;
      border-radius: 0;
      backdrop-filter: blur(2px);

      &.active {
        left: 0;
      }
    }
    &__mail {
      bottom: 120px;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    &__decor {
      position: absolute;
      width: 30px;
      height: 30px;
      overflow: hidden;
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      box-shadow: 7px 7px 10px #070707, -1px -1px 1px #1d1d1d;
      backdrop-filter: blur(2px);
      transition: 0.5s;
    }
    &__img {
      z-index: 1;
    }
  }

  .social {
    &__list {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  .nav {
    &__item {
      padding: 20px 10px;
    }
  }
  //!МЕНЮ БУРГЕР <991
  .header__burger {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 7px 7px 10px #070707, -1px -1px 1px #1d1d1d;
    transform: translateX(0);
    cursor: pointer;
    backdrop-filter: blur(2px);
    transition: 0.5s ease-in-out;
    &:hover {
      background: rgba(255, 255, 255, 0.15);
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .burger-item {
      position: absolute;
      width: 0%;
      span {
        position: relative;
        display: block;
        width: 40px;
        height: 4px;
        margin: 9px 4px;
        line-height: 50px;
        background: #0ff;
        border-radius: 2px;
        transition: 0.5s ease-in-out;
        &:nth-child(1) {
          transition-delay: 0s;
        }
        &:nth-child(2) {
          width: 30px;
          transform: translateX(10px);
          transition-delay: 0.125s;
        }
        &:nth-child(3) {
          width: 20px;
          transform: translateX(20px);
          transition-delay: 0.25s;
        }
      }
    }
  }
  .header__burger.open {
    left: 90%;
    transform: translateX(0);
    .burger-item {
      width: 100%;
      height: 100%;
      span {
        background: $red;
        box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff,
          0 0 40px rgba(0, 15, 15, 0), 0 0 70px rgba(0, 255, 255, 0),
          0 0 80px rgba(0, 255, 255, 0), 0 0 100px rgba(0, 255, 255, 0);
        transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
        &:nth-child(1) {
          transition-delay: 0s;
        }
        &:nth-child(2) {
          transform: translateX(0);
          transition-delay: 0.125s;
        }
        &:nth-child(3) {
          transform: translateX(0);
          transition-delay: 0.25s;
        }
      }
    }
  }
}
