//?ХЭДЕР И ССЫЛКА НА ПОЧТУ
.header {
  position: fixed;
  z-index: 200;
  &__body {
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 15vw;
    height: 100%;
    height: 100vh;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 7px 7px 10px #070707, -7px -7px 10px #1d1d1d;
    transition: 0.5s ease-out;
    &.active {
      left: -110%;
      transition: 0.5s ease-out;
    }
  }
  &__body::before {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 50%;
    height: 100%;
    background: #111;
    content: "";
  }
  &__mail {
    margin-bottom: 50px;
  }
  &__mail-item {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2px;
    transition: all 0.5s ease;
  }
  &__mail-item:hover {
    color: $red;
    text-shadow: 3px 3px 5px #000;
    transition: all 0.5s ease;
  }
}

//?ИКОНКИ СОЦ.СЕТЕЙ
.social {
  &__list {
    // margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    position: relative;
    margin: 10px;
  }

  &__item:nth-last-child(1) {
    margin-bottom: 0;
  }

  &__link {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    color: white;
    font-size: 1.5em;
    line-height: 50px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 7px 7px 10px #070707, -1px -1px 1px #1d1d1d;
    backdrop-filter: blur(2px);
    transition: 0.5s;
  }
  &__link:hover {
    transform: translateX(20px);
  }
  &__link::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
    content: "";
  }
  &__link:hover::after {
    transform: skewX(45deg) translateX(-150px);
  }
}
.icon-tm:hover {
  color: #08c;
  border: 1px solid rgba(0, 136, 204, 1);
  border-right: 1px solid rgba(0, 136, 204, 0.2);
  border-bottom: 1px solid rgba(0, 136, 204, 0.2);
}
.icon-wh:hover {
  color: #43d854;
  border: 1px solid rgba(67, 216, 84, 1);
  border-right: 1px solid rgba(67, 216, 84, 0.2);
  border-bottom: 1px solid rgba(67, 216, 84, 0.2);
}
.icon-vk:hover {
  color: #597da3;
  border: 1px solid rgba(89, 125, 163, 1);
  border-right: 1px solid rgba(89, 125, 163, 0.2);
  border-bottom: 1px solid rgba(89, 125, 163, 0.2);
}

//?ФОТО ХЭДЕРА
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 120px 0 30px;
  &__decor {
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 7px 7px 10px #070707, -1px -1px 1px #1d1d1d;
    backdrop-filter: blur(2px);
    transition: 0.5s;
  }
  &__img {
    z-index: 1;
  }
}

//?КНОПКА БУРГЕР
.header__burger {
  position: fixed;
  top: 25px;
  left: 15vw;
  z-index: 3;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 7px 7px 10px #070707, -1px -1px 1px #1d1d1d;
  transform: translateX(-75px);
  cursor: pointer;
  backdrop-filter: blur(2px);
  transition: 0.5s ease-in-out;
  &:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .burger-item {
    position: absolute;
    width: 0%;
    span {
      position: relative;
      display: block;
      width: 40px;
      height: 4px;
      margin: 9px 4px;
      line-height: 50px;
      background: $red;
      border-radius: 2px;
      transition: 0.5s ease-in-out;
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        width: 30px;
        transform: translateX(10px);
        transition-delay: 0.125s;
      }
      &:nth-child(3) {
        width: 20px;
        transform: translateX(20px);
        transition-delay: 0.25s;
      }
    }
  }
}
.header__burger.open {
  left: 25px;
  transform: translateX(0);
  .burger-item {
    width: 100%;
    height: 100%;
    span {
      background: #0ff;
      box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff,
        0 0 40px rgba(0, 15, 15, 0), 0 0 70px rgba(0, 255, 255, 0),
        0 0 80px rgba(0, 255, 255, 0), 0 0 100px rgba(0, 255, 255, 0);
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transform: translateX(0);
        transition-delay: 0.125s;
      }
      &:nth-child(3) {
        transform: translateX(0);
        transition-delay: 0.25s;
      }
    }
  }
}

//?КНОПКИ НАВИГАЦИИ
.nav {
  margin: 30px;
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    padding: 25px 10px;
  }
  &__link p {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    line-height: 60px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  }
  &__link p:hover {
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff,
      0 0 40px rgba(0, 15, 15, 0), 0 0 70px rgba(0, 255, 255, 0),
      0 0 80px rgba(0, 255, 255, 0), 0 0 100px rgba(0, 255, 255, 0);
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
  }
  &__link {
    position: relative;
    display: block;
    width: 200px;
    height: 60px;
    overflow: hidden;
    background: #111;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #070707, -1px -1px 0 #1d1d1d;
  }
  &__link::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #222;
    content: "";
  }
  &__link::after {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    transition: 0.5s;
    transition-delay: 0.5s;
    content: "";
  }
  &__link:hover::after {
    left: 100%;
  }
  &__link .decor {
    position: absolute;
    display: block;
    transition: 0.5s ease;
  }
  &__link .decor:nth-child(4) {
    right: 0;
    bottom: 0;
    width: 1px;
    height: 0;
    background: #fff;
  }
  &__link .decor:nth-child(1) {
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #fff;
  }
  &__link .decor:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: #fff;
  }
  &__link .decor:nth-child(2) {
    top: 0;
    left: 0;
    width: 1px;
    height: 0;
    background: #fff;
  }
  &__link:hover .decor:nth-child(2) {
    height: 100%;
    transform: translateY(100%);
  }
  &__link:hover .decor:nth-child(1) {
    width: 100%;
    transform: translateX(100%);
  }
  &__link:hover .decor:nth-child(3) {
    width: 100%;
    transform: translateX(-100%);
  }
  &__link:hover .decor:nth-child(4) {
    height: 100%;
    transform: translateY(-100%);
  }
}

//* ДЛЯ ЭКРАНОВ < 1919px
@media (max-width: $el) {
  .header {
    &__body {
      width: 18vw;
    }
    &__burger {
      top: 10px;
      left: 19vw;
    }
    &__burger.open {
      left: 10px;
    }
    &__mail {
      bottom: 0;
    }
  }
  .logo {
    width: 70px;
    height: 70px;
    margin: 120px 0 15px;
    &__decor {
      width: 90px;
      height: 90px;
    }
  }
  .nav {
    margin: 0;
    &__item {
      padding: 15px 10px;
    }
    &__link p {
      font-size: 22px;
      line-height: 60px;
    }
    &__link {
      width: 200px;
      height: 60px;
    }
  }
}

//* ДЛЯ ЭКРАНОВ < 1399px
@media (max-width: $xxl) {
  .header {
    &__mail {
      margin-bottom: 30px;
    }
    &__mail-item {
      font-size: calc(10px + 6 * ((100vw - 991px) / (1399 - 991)));
    }
  }
  .logo {
    width: 60px;
    height: 60px;
    margin: 100px 0 20px;
    &__decor {
      width: 80px;
      height: 80px;
    }
  }
  .nav {
    &__item {
      padding: 15px 10px;
    }
    &__link p {
      font-size: 18px;
      line-height: 50px;
    }
    &__link {
      width: 160px;
      height: 50px;
    }
  }
  .social {
    &__list {
      flex-direction: row;
    }
    &__link:hover {
      transform: translateY(-10px);
    }
  }
}

//* ДЛЯ ЭКРАНОВ < 991px
@media (max-width: $lg) {
  .header {
    &__body {
      position: fixed;
      left: -105%;
      width: 100%;
      border: none;
      border-radius: 0;
      backdrop-filter: blur(5px);

      &.active {
        left: 0;
      }
    }
    &__mail {
      bottom: 0;
    }
    &__mail-item {
      font-size: calc(16px + 2 * ((100vw - 575px) / (991 - 575)));
    }
  }

  .logo {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    &__decor {
      width: 90px;
      height: 90px;
    }
  }

  .social {
    &__link {
      width: 40px;
      height: 40px;
      line-height: 36px;
      text-align: center;
    }
    &__link:hover {
      transform: translateY(-10px);
    }
  }
  .nav {
    &__item {
      padding: 20px 10px;
    }
  }
  [class^="icon-"]::before,
  [class*="icon-"]::before {
    font-size: 18px;
  }
  //!БУРГЕР <991
  .header__burger {
    top: 20px;
    right: 20px;
    margin-left: auto;
    transform: translateX(0);
    backdrop-filter: blur(5px);

    .burger-item {
      position: absolute;
      width: 0%;
      span {
        background: #0ff;
        box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff,
          0 0 40px rgba(0, 15, 15, 0), 0 0 70px rgba(0, 255, 255, 0),
          0 0 80px rgba(0, 255, 255, 0), 0 0 100px rgba(0, 255, 255, 0);
      }
    }
  }
  .header__burger.open {
    .burger-item {
      span {
        background: $red;
        box-shadow: none;
      }
    }
  }
}
