.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: $xl;
    height: 100%;
  }

  &__title {
    position: absolute;
    top: 7%;
    margin: 0;
    color: white;
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    margin: 50px 0;
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .active-item {
    color: #0ff;
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff,
      0 0 40px rgba(0, 15, 15, 0), 0 0 70px rgba(0, 255, 255, 0),
      0 0 80px rgba(0, 255, 255, 0), 0 0 100px rgba(0, 255, 255, 0);
  }
}
.site {
  position: relative;
  right: 0;
  display: flex;
  &__decor {
    position: absolute;
    width: 575px;
    height: 700px;
    box-shadow: 7px 7px 10px #070707, -1px -1px 1px #1d1d1d;
  }
  &__item {
    position: relative;
    width: 575px;
    height: 700px;
    overflow: hidden;
  }
  &__item img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
