.skills {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: #222;
  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: $xl;
    height: 100vh;
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    color: white;
    font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    animation: 1.5s fadeInDown 0.8s;
  }

  &__title::before {
    position: absolute;
    right: 0;
    bottom: -15px;
    left: 0;
    width: 80px;
    height: 1px;
    margin: 0 auto;
    background: #fff;
    content: "";
  }

  &__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    animation: 1.5s fadeInRight 0.8s;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 350px;
    margin: 10px 30px 30px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 20px 20px 50px rgba (0, 0, 0, 0.5);
    transform: perspective(1000px);
    transform-style: preserve-3d;
  }

  &__content {
    padding: 10px;
    text-align: center;
    transition: 0.5s;
  }
  &__content:hover {
    transform: translateZ(80px);
  }

  &__content-number {
    position: absolute;
    top: 5px;
    right: 25px;
    margin: 0;
    color: rgba(255, 255, 255, 0.05);
    font-size: 100px;
  }
  &__content-title {
    margin: 20px auto 0;
    color: #fff;
    font-size: 30px;
  }
  &__content-list {
    padding: 20px;
    text-align: left;
  }
  &__content-item {
    color: #fff;
    font-size: calc(14px + 2 * ((100vw - 320px) / (1280 - 320)));
    letter-spacing: 1.2px;
    list-style: none;
  }
  &__content-item::before {
    position: relative;
    bottom: 3px;
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 0.5em;
    background: $red;
    border-radius: 100%;
    content: "";
  }
}

.js-tilt-glare {
  border-radius: 15px;
}

.slider {
  display: block;
  width: 90%;
  margin: 20px auto 0;
  animation: 1.5s fadeInUp 0.8s;
  &__card {
    height: 60px;
    overflow: hidden;
  }
  &__card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.slick-slide {
  margin: 0 20px;
}

//* ДЛЯ ЭКРАНОВ < 1919px
@media (max-width: $el) {
  .skills {
    &__inner {
      max-width: 850px;
    }
    &__card {
      width: 210px;
      height: 300px;
      margin: 10px;
    }
    &__content-number {
      font-size: 80px;
    }
    &__content-title {
      font-size: 20px;
    }
    &__content-item {
      font-size: calc(12px + 2 * ((100vw - 320px) / (1280 - 320)));
    }
  }
  .slider {
    &__card {
      height: 40px;
    }
  }
}

//* ДЛЯ ЭКРАНОВ < 1399px
@media (max-width: $xxl) {
  .skills {
    &__title {
      margin: 30px 0 30px;
    }
    &__inner {
      max-width: $sm;
      height: 100%;
    }
    &__content-number {
      font-size: 80px;
    }
    &__content-title {
      font-size: 20px;
    }
    &__content-item {
      font-size: calc(13px + 2 * ((100vw - 320px) / (1280 - 320)));
    }
  }
  .slider {
    margin-bottom: 30px;
    &__card {
      height: 40px;
    }
  }
}

//* ДЛЯ ЭКРАНОВ < 991px
@media (max-width: $lg) {
  .skills {
    &__inner {
      height: 100%;
    }
    &__title {
      margin: 100px 0;
    }
    &__card {
      width: 240px;
      height: 330px;
      margin: 15px;
    }
    &__container {
      margin-bottom: 30px;
    }
    &__content-item {
      font-size: 18px;
    }
    &__content:hover {
      transform: translateZ(0);
    }
  }
  .slider {
    position: absolute;
    top: 150px;
    width: 90%;
  }
}
