html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  font-family: $main-font;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: #222;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
