/* Здесь хранятся все переменные стилей проекта. */

// Размеры вьюпорта
$xs: 319px;
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1279px;
$xxl: 1399px;

// Цвета
$red: #fc6d6d;

// Шрифты
$main-font: "Arsenal", sans-serif;
