<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <!-- Чтобы телефон и почта на Ios не были ссылками -->
    <meta name="description" content="описание" />
    <!-- Краткое описание (или аннотация) -->
    <title>Skills</title>
    <link rel="stylesheet" href="/vendors/normalize-css/normalize.min.css" />
    <script>
      if (!window.HTMLPictureElement) {
        document.createElement('picture');
      }
    </script>
  </head>
  <body>

    <!--header.html-->
    <%= _.template(require('../includes/common/header.html').default)({version:
    htmlWebpackPlugin.options.custom.version,}) %>

    <main>
      <!--index/skills.html-->
      <%= _.template(require('../includes/index/skills.html').default)({}) %>
    </main>
  </body>
</html>
