<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="Адаптивная вёрстка сайтов по макету, доступные цены. Заказать вёрстку сайта HTML CSS JavaScript №1" />
    <title>SergWeb - разработка сайтов, вёрстка сайтов по доступной цене, адаптивная вёрстка сайтов по макету HTML CSS JavaScript №1</title>
    <link rel="icon" type="image/ico" sizes="32x32" href="img/favicon.ico" />
    <link rel="icon" type="image/ico" sizes="16x16" href="img/favicon.ico" />
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link rel="stylesheet" href="/vendors/normalize-css/normalize.min.css" />
  </head>
  <body>
    <!--header.html-->
    <%= _.template(require('../includes/common/header.html').default)({version:
    htmlWebpackPlugin.options.custom.version,}) %>

    <main class="about-main">
      <!--index/about.html-->
      <%= _.template(require('../includes/index/about.html').default)({}) %>
    </main>
    <div class="preloader">
      <div class="preloader__loader">
          <span class="animate">Loading</span>
      </div>
    </div>
  </body>
</html>
